./node_modules
./dist
./build
./public
./src
./test
./utils
./config
./index.html
./package.json
./package-lock.json
./README.md
./LICENSE
./CHANGELOG.md
/node_modules
node_modules
node_modules/*
/node_modules
/node_modules/*
